grpcio
grpcio-reflection
langchain
transformers==4.31.0
bitsandbytes-windows
accelerate
xformers
einops
scipy
sentencepiece
jsonformer
# Before auto-gptq install torch cuda 11.8 using command from torch homepage
auto-gptq
confluent-kafka

python-dotenv~=1.0.0
pymongo~=4.4.1